<h1>Listing negative_points</h1>

<table class="table table-striped">
  <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Decription
        </th>
        <th>
            Point
        </th>
        <th>
            Category
        </th>
        <th style="text-align: center">
            Actions
        </th>
    </tr>
  </thead>

    <tbody>
    <% @negative_points.each do |negative_point| %>
      <tr>
          <td><%= negative_point.title %></td>
          <td><%= negative_point.description %></td>
          <td><%= negative_point.points %></td>
          <td><%= negative_point.category %></td>
        <td><%= link_to 'Show', negative_point %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-right">
        <%= link_to 'Negative point attribution', attribution_negative_points_path, class: 'btn btn-primary' %>
</div>